.u-form-item{
	padding: 12rpx 32rpx !important;

	&.u-border-bottom:after{
		position: absolute;
		box-sizing: border-box;
		content: " ";
		pointer-events: none;
		right: 0.75rem;
		bottom: 0;
		left: 0.75rem;
		width:auto;
		border-bottom: 1px solid #ebedf0;
		transform: scaleY(0.5);
	}
	.diygw-tag{
		max-height: 48rpx;
		line-height: 48rpx;
		&+.u-input{
			margin-left:20rpx;
		}
	}
	
	
	&.solid{
		padding: 0  20rpx;
	
		&:after{
			border-radius: 16rpx;
		}
	
		&.radius {
			overflow: hidden;
			&:after{
				border-radius:50px;
			}
		}
	}
	
	.u-input{
		 
		&.solid{
		  border-radius: 12rpx;
		  padding-left:20rpx !important;
		  padding-right:20rpx !important;
		}
		&+.diygw-tag{
			margin-left:20rpx
		}
		
		.uni-input-input,.u-input__input{
			color:inherit !important;
			font-size:inherit !important;
		}
	}
	.input.solid{
		align-items: center;
		display: flex;
		flex:1;
		width:100%;
		line-height: 1;
		padding:12rpx 20rpx 12rpx 20rpx;
		box-sizing: border-box;
		background-color: transparent;
		
		[class*="diy-icon-"]{
			margin-right: 10rpx;
			max-height: 48rpx;
			margin-top: 0px;
		}
		&:after{
			border-radius: 16rpx;
		}
		&:after{
			border-radius: 16rpx;
		}
		.u-input__input{
			min-height: auto !important;
		}
	}
}

.flex{
	.u-char-box,.u-subsection{
		flex:1
	}
	.list-cell {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 24rpx;
		overflow: hidden;
		// color: $u-content-color;
		font-size: 14px;
		line-height: 24px;
		background-color: #fff;
	}
}
